@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  font-weight: bold;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
}

.btn-blue {
  background-color: #3b82f6; /* bg-blue-500 */
  color: white; /* text-white */
}

.btn-blue:hover {
  background-color: #1e40af; /* bg-blue-700 */
}
.btn-green {
  background-color: #008000; /* bg-blue-500 */
  color: white; /* text-white */
}

.btn-green:hover {
  background-color: #006400; /* bg-blue-700 */
}